/*===============================================global====================================*/

* { 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html{
font-size: 100%; /* 1 */
-webkit-text-size-adjust: 100%; /* 2 */
-ms-text-size-adjust: 100%; /* 2 */
}

body { font-family: Meiryo, "Meiryo UI", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif; font-size:16px; line-height:1.6;  color:#424c54;}

ul{ list-style:none;}
a{outline: none; /* for Firefox */}

/*預設連結狀態*/
a:link, a:visited { color:#23395b; text-decoration:none; }
a:hover, a:active { color:#23395b; text-decoration:none;  }

/*圖片無框*/
a img { border:none; vertical-align:bottom;}

/*h標題設定*/
h1 { font-size:24px; font-weight:normal;}
h2 { font-size:20px; font-weight:normal; color:#393939;}
h3 { font-size:18px; font-weight:normal; color:#3487c8; line-height:25px;}
h4 { font-size:16px; font-weight:normal;}

/*清除 clearfix*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix {*zoom: 1; _zoom: 1; }

/*更多*/


/*回上層*/
.gototop{ width:44px; height:44px; line-height:44px; text-align:center; background:rgba(0,0,0,0.5); border-radius:50%; position:fixed; right:10px; bottom:70px; z-index:10; cursor:pointer;}
.gototop i{ color:#fff; font-size:15px; opacity:0.5;}

/*768*/
@media only screen and (min-width:768px){
	.gototop{width:50px; height:50px; line-height:54px; right:30px;}
}
